.searches-container {
  width: 100%;
  overflow-x: scroll;
  .title, .no-history-label {
    padding-left: 15px;
  }
  .searches {
    display: flex;
    flex-direction: row;
    .section {
      align-items: center;
      padding: 20px;
    }
  }
}