@import "../constants.scss";

.user-info-container {
  width: 60%;
  opacity: 0;
  background: white;
  padding: 20px;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  &.show {
    opacity: 1;
    transition: 700ms ease-out;
  }

  .back-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    label {
      cursor: pointer;
    }
    img {
      transform: rotate(270deg);
      width: 30px;
    }
  }

  .section {
    margin-top: 20px;
  }
  .col {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .highlights {
    margin-top: 20px;

    .col {
      label {
        text-align: center;
        padding: 0 5px;
      }
      &:not(:nth-child(4)) {
        border-right: 1px solid $light;
      }
      label:nth-child(2) {
        margin-top: 5px;
      }
    }
  }

  .tabs {
    >div {
      label {
        cursor: pointer;
      }
      cursor: pointer;
      margin: 0 40px;
      padding: 10px 0;
      border-bottom: 1px solid transparent;
      transition: 0.2s ease-in;

      &.active {
        transition: 0.2s ease-in;
        border-bottom: 2px solid $primary-light-blue;
        label {
          font-weight: 500;
        }
      }
    }
  }

  .details {
    padding: 20px 40px;
    .row {
      padding: 5px 0;
    }
  }
  @media(max-width: 720px) {
    width: 80%;

    .highlights {
      &.row {
        flex-direction: column;
      }
      .col {
        padding: 10px 0;
        flex-direction: row;
        &:not(:nth-child(4)) {
          border-right: none;
        }
        border-bottom: 1px solid $regular;
      }
    }

    .details {
      padding: 20px 20px;
    }

    .tabs {
      >div {
        margin: 0;
      }
    }
  }
}

.user-info {
  &.pointer {
    cursor: pointer;
  }

  h2 {
    margin: 10px 0;
    text-align: center;
  }

  a, label {
    text-align: center;
  }

  .avatar{
    width: 160px;
    height: 160px;
    border-radius: 160px;
  }
}